<div class = "login-wrapper" fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
    <mat-form-field class="ex-full-width">
        <mat-label>Attribute</mat-label>
        <mat-select  (selectionChange) = "createChartData($event)">
            <mat-option>None</mat-option>
           <mat-option *ngFor ="let attribute of attributeList" [value] ="attribute.value">
            {{ attribute.attributeName }}
           </mat-option>
          </mat-select>
        </mat-form-field>
    </mat-card>
<div class ="line-chart-example"  *ngIf = "showChart"  [chart]="chart">

</div>
</div>